/* :root serve para criar variáveis css */

:root {
  --primary-color: rgb(51, 0, 85);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --gray: rgba(138, 138, 138, 0.5);
  --very-light-gray: rgb(238, 238, 238);
  --gap: 3rem;
  --secondary-color: rgb(220, 20, 60);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 5rem;
  line-height: 1.2;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

p {
    margin-bottom: 3rem;
}

table {
  min-width: 60rem;
  border-collapse: collapse;
}

table caption {
  /* Describes how inline contents of a block are horizontally aligned 
  if the contents do not completely fill the line box. */
  text-align: left;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

table td, table th {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-align: left;
  border: 0.1rem solid var(--very-light-gray);
}

tfoot td, table th {
  background-color: var(--very-light-gray);
}

.white-bg {
  background-color: var(--white);
  color: var(--primary-color);
}

.main-bg {
  /* ./ (ponto-barra): Refere-se ao diretório ATUAL.
  ../ (ponto-ponto-barra): Refere-se ao diretório PAI
  (um nível acima). */
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white);
  z-index: 0;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid var(--very-light-gray);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.menu h1 {
  font-size: 2.3rem;
}

.menu h1 a {
  color: var(--primary-color);
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.menu-spacing {
  height: 6.78rem;
}

.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.centered-heading {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.centered-heading img {
  border-radius: 1rem;
  transition: all 300ms ease-in-out;
}

.centered-heading img:hover {
  cursor: pointer;
  scale: 1.1;
  rotate: 5deg;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  /* criando um contador na classe grid, com o nome "grid-counter" */
  counter-reset: grid-counter;
}

.grid .last-skill {
  grid-column: 3;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
  text-align: center;
}

.grid-description {
  padding-bottom: 3rem;
}

#gallery p:nth-child(3) {
  padding-bottom: 1rem;
}

.grid .main-h3-heading, .grid-two .main-h3-heading {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid .main-h3-heading::before, .grid-two .main-h3-heading::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.grid-two {
  display: grid;
  grid-template-rows: 1fr;
  gap: var(--gap);
  /* criando um contador na classe grid, com o nome "grid-counter" */
  counter-reset: grid-counter;
}

.grid-two > div.centered-heading:first-child {
  padding-top: 3.5rem;
}

#work .grid-main-heading {
  margin-bottom: 8rem;
}

.skin-cell {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img .skin-cell {
  transition: all 300ms ease-in-out;
}

.gallery-img .skin-cell:hover {
  cursor: pointer;
  translate: 1.5%, -1.5%;
  scale: 1.2;
  rotate: 5deg;
}

.responsive-table {
  overflow-x: auto;
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-group {
  flex: 1 1 32rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  color: var(--white);
  transition: all 300ms ease-in-out;
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
  border-radius: 1rem;
  border: 0.2rem solid var(--white);
}

.form-group input:hover,
.form-group textarea:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border: 0.2rem solid var(--black);
}

.form-group input:focus,
.form-group textarea:focus {
  caret-color: var(--white);
  box-shadow: 0 0 1rem 0.25rem var(--primary-color);
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.form-group button {
  border: 0.5rem solid var(--white);
  background: none;
  color: var(--white);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  border-radius: 1rem;
  background: var(--white);
  color: var(--primary-color);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--very-light-gray);
}

.form-group input:hover::placeholder,
.form-group textarea:hover::placeholder {
  color: var(--black);
}

.footer {
  text-align: center;
  color: #4b0082;
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.heart {
  transition: all 300ms ease-in-out;
  transform: scale(1) rotate(0);
  display: inline-block;
}

#centered-contact-form-button {
  display: flex;
  place-content: center;
}

.heart:hover {
  cursor: grabbing;
  translate: 0 -15px;
  scale: 2.5;
  rotate: 360deg;
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid var(--black);
  color: var(--primary-color);
  position: fixed;
  border-radius: 50%;
  bottom: 2rem;
  right: 2rem;
  transition: all 300ms ease-in-out;
}

.back-to-top:hover {
  border: 0.2rem solid var(--secondary-color);
  background-color: rgba(75, 0, 130, 0.75);
}

.back-to-top > svg {
  transition: all 300ms ease-in-out;
}

.back-to-top:hover > svg {
  color: var(--white);
}

.card-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 6.78rem;
  left: 0;
  width: 100%;
  height: calc(100% - 6.78rem);
  background: rgba(0, 0, 0, 0.55);
  transition: all 300ms ease-in-out;
}

.card-container p {
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: calc(80vh - 6.78rem);
  padding-bottom: 1.5rem;
  background-color: var(--white);
  transition: all 300ms ease-in-out;
}

.card-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 3.5rem;
  gap: 1.5rem;
}

.card-content > h4 {
  font-weight: bold;
}

.card-content > h4 > span {
  font-weight: normal;
}

.card-content > h4, .card-content > h4 > span {
  font-size: 2rem;
}

.card-heading {
  background-color: var(--very-light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 3.5rem;
  width: 100%;
}

.card-heading > h3 {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.75rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.card > .card-content > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.card > .card-heading > .x-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.85rem;
  cursor: pointer;
  background-color: var(--gray);
  transition: all 300ms ease-in-out;
}

.card > .card-heading > .x-menu:hover {
  background-color: var(--secondary-color);
}

.card > .card-heading > .x-menu:hover > div {
  background-color: var(--white);
  border: 0.2rem solid var(--white);
}

.card > .card-heading > .x-menu > div {
  transition: transform 300ms ease-in-out;
  transform-origin: center;
  border-radius: 1rem;
  max-width: 100%;
  background-color: var(--black);
  border: 0.2rem solid var(--black);
}

.card > .card-heading > .x-menu > .first-child {
  transform: translateY(0.5rem) rotate(45deg);
}

.card > .card-heading > .x-menu > .mid-child {
  opacity: 0;
  transform: scale(0);
}

.card > .card-heading > .x-menu > .last-child {
  transform: translateY(-0.535rem) rotate(-45deg);
}

.last-skin {
  grid-column: 2;
}

@media (max-width: 560px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  .card-heading > h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .intro-content, .grid {
    grid-template-columns: 1fr;
  }

  .skin-cell {
    width: 100%;
    height: 100%;
  }

  .gallery-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .intro-content .intro-img {
    grid-column: span 2;
  }

  .menu {
    bottom: 0;
    border-bottom: none;
    text-align: center;
  }
  
  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }
  
  .menu-content {
    height: 100vh;
  }
  
  .menu {
    display: none;
  }

  .hamburguer-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hamburguer-menu > div {
    transition: transform 300ms ease-in-out;
    width: 100%;
    border-radius: 1rem;
    border: 0.2rem solid var(--white);
  }

  .close-menu {
    border-radius: 0.5rem;
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    width: 5rem;
    height: 5rem;
    padding: 0.85rem;
    cursor: pointer;
  }

  .toggle-menu {
    display: block;
  }

  .close-menu .x-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .close-menu .x-menu > div {
    transition: transform 300ms ease-in-out;
    background-color: var(--white);
    border-radius: 1rem;
    border: 0.2rem solid var(--white);
    width: 65%;
  }

  .close-menu .x-menu > .first-child {
    transform: translateY(0.8rem) rotate(45deg);
  }

  .close-menu .x-menu > .mid-child {
    opacity: 0;
    transform: scale(0);
  }

  .close-menu .x-menu > .last-child {
    transform: translateY(-1.035rem) rotate(-45deg);
  }

  .menu-spacing {
    display: none;
  }

  .grid .last-skill {
    grid-column: auto;
  }

  .last-skin {
    grid-column: auto;
  }

  .card-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
  }

  .card {
    justify-content: unset;
    width: 90vw;
    height: 55vh;
    max-width: 100vw;
    max-height: 90vh;
    padding-bottom: 0;
  }

  .card-content {
    margin: auto 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.5rem;
    gap: 1.5rem;
  }

  .card > .card-heading > .x-menu > .first-child {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .card > .card-heading > .x-menu > .mid-child {
    opacity: 0;
    transform: scale(0);
  }

  .card > .card-heading > .x-menu > .last-child {
    transform: translateY(-0.545rem) rotate(-45deg);
  }
}

@media (min-width: 800px) and (max-width: 1225px) {
  #gallery .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #skills .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #skills .grid .last-skill {
    min-width: 35.5rem;
    max-width: 55.5rem;
    align-self: center;
    justify-self: center;
    grid-column: span 2;
  }

  .gallery-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }

  .gallery-img .skin-cell {
    width: 48rem;
    min-width: 36rem;
    height: 100%;
    border-radius: 1rem;
  }

  .last-skin {
    grid-column: span 2;
  }
}

@media (max-height: 850px) {
  .card {
    max-width: 70vw;
    max-height: 70vh;
  }

  .card > .card-content > img {
    max-height: 40vh;
    object-fit: contain;
  }
}

@media (max-height: 650px) {
  .card {
    max-width: 60vw;
    max-height: 60vh;
  }

  .card-content h4,
  .card-content span {
    font-size: 1.6rem;
  }
}

@media (max-height: 575px) {
  .card {
    width: auto;
    max-width: 55vw;
    min-height: 90%;
    padding-bottom: 0;
  }

  .card > .card-content {
    margin-top: auto;
    margin-bottom: auto;
    
    align-self: center;
  }

  .card > .card-content > img {
    max-height: 30vh;
  }
}

@media (max-height: 575px) and (min-width: 800px) {
  .card {
    width: auto;
    max-width: 55vw;
    min-width: 55%;
    min-height: 65%;
    padding-bottom: 1.5rem;
  }
}